$pink: hsl(322, 100%, 66%);
$veryDarkCyan: hsl(192, 100%, 9%);
$grayishBlue: hsl(208, 11%, 55%);

$fontHeadings: 'Poppins', sans-serif;
$fontBody: 'Open Sans', sans-serif;

$tablet-width: 768px;
$desktop-width: 1024px;
