.attribution { 
    font-size: 1.1rem; 
    text-align: center;
    background-color: $veryDarkCyan;
    margin: 0;
    padding: 11px;
    color: #FFF; 

    a { 
        color: hsl(228, 45%, 44%); 
    }

}
    