.build-the-community {
    text-align: center;
    animation: fade-slide-up 1.5s .2s ease-out forwards;
    opacity: 0;

    &__title {
        font-size: 2.7rem;
        font-weight: 700;
        line-height: 1.5;

        @include tablet {
            font-size: 3.5rem;
        }

        @include desktop {
            font-size: 4.5rem;
        }

    }

    &__paragraph {
        font-size: 1.4rem;
        color: $color-grayish-blue;
        line-height: 1.5;

        @include tablet {
            font-size: 2rem;
        }

        @include desktop {
            font-size: 2.6rem;
        }
    }
}