.header {
    animation: fade-slide-up 1.2s .2s ease-out forwards;
    opacity: 0;

    &__logo {
        width: 11rem;

        @include tablet {
            width: 19rem;
        }

        @include desktop {
            width: 25rem;
        }
        
    }
}