.sign-up {
    text-align: center;

    &__title {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;

        @include tablet {
            font-size: 4.5rem;
            font-weight: 700;
        }
    }

    &__email {
        padding: 1.5rem 7.5rem;
        display: block;
        width: 100%;
        border: 1px solid #eee;
        color: #eee;
        border-radius: .6rem;
        font-family: $font-body;

        @include tablet {
            display: inline-block;
            max-width: 52rem;
            margin-right: 5rem;
            padding: 2.4rem 7.5rem;
            box-shadow: 0 .5rem 1rem rgba(#eee, .8);
        }
    }
}