.utils {

    &--t-margin {
        margin-top: 7rem;
    }
    
    &--l-b-r-padding {
        padding-bottom: 2rem;

        @include tablet {
            padding-left: 4rem;
            padding-right: 4rem;
        }

        @include desktop {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }

    &--b-margin {
        margin-bottom: 2rem;
    }
}